@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
    scroll-behavior: smooth;
  }
body {
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #fbb5ff
}

.button {
    width:81px;
    height:25px;
    background-color: #fdd4ff;
    border: #6E84D4;
    color: white;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    border-radius: 18px;
    transition: 0.25s;
    cursor: pointer;
    border: 2px solid #f866ff;
    align-items: center;
    margin: 15px;
}

.button:hover{
    background: #f866ff;
}

body h1{
    color: #000000;
}

body h3{
    color: #424242;
}
body h4{
    color: #6b6b6b;
}
body h2{
    color: #A8A8A8;
}

body {
    margin: 0;
  }
img {
      border: 5px solid #15004a;
      border-radius: 15%;
}
