@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
    scroll-behavior: smooth;
  }
body {
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ED8C0C
}

.button {
    width:81px;
    height:25px;
    background-color: #FF970D;
    border: #6E84D4;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    transition: 0.25s;
    cursor: pointer;
    border: 2px solid #7289DA;
    align-items: center;
    margin: 15px;
}

.button:hover{
    background: #6E84D4;
}

body h1{
    color: #FFFFFF;
}

body h3{
    color: #c7c7c7;
}
body h4{
    color: #858585;
}
body h2{
    color: #A8A8A8;
}

body {
    margin: 0;
  }
img {
  border-radius: 50%;
      border: 5px solid #15004a;
}
