.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: auto;
}

.contact-list {
  font-size: large;
}

.contact-btn {
  min-width: calc(100% - 1rem);
  flex-grow: 1;
  margin: 0.5rem;
}
