.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home-slide-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.home-content-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: var(--shadow);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .home-content-container {
    top: 50%;
  }
}

.home-content-container h1 {
  margin: 0;
}

.home-button-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
}

.home-button-container > a {
  width: 6rem;
}
