.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home-slide-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.home-slide-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.home-content-container {
  z-index: 2;
  background-image: radial-gradient(#372549, 75%, #1a1423 90%, #000 100%);
  width: min(80%, 800px);
  height: min(50%, 500px);
  border-radius: 1rem;
  box-shadow: 0 0 10px 10px #0007;
  display: flex;
  justify-content: center;
}
