#root {
  width: 100%;
  height: 100%;
}

.logo {
  font-family: Audiowide, sans-serif;
}

.link-btn {
  text-decoration: none;
  box-shadow: var(--shadow);
  background-color: #000b;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--color);
  text-align: center;
  white-space: nowrap;
}
